* {
	margin: 0;
	padding: 0
}

body {
	font-family: sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

img {
	border: 0;
}

h2 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#searchDetail_img>p>img {
	text-align: center;
	/*margin-left: 650px;*/
}

#ingredients {
	text-align: center;
	font-size: medium;
}

#ingredients>p {
	text-align: justify;
	text-justify: distribute;
	line-height: 2;
	width: 50%;
	margin-left: 400px;
}

#cooking {
	text-align: center;
	font-size: medium;
}

#cooking h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#cooking button {
	text-align: right;
	margin-right: 0;
}

#recipe {
	margin: 0 auto;
	width: 75%;
	text-align: center;
	border: solid lightgray 3px;
}

#recipe>h1 {
	margin-top: 30px;
	margin-bottom: 10px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 180px;
	margin-right: 0;
	border-top: double 5px lightgray;
	width: 75%;
	text-align: center;
}

.cart_btn {
	cursor: hand;
	position: relative;
	top: 250px;
	left: 180px;
	z-index: 1;
	background-color: rgba(0, 0, 255, 0);
	border: none;
}
/* 상품추천 슬라이드 css */
.slider {
	width: 50%;
	margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	cursor: hand;
}

.regular slider {
	position: absolute;
	font-family: Arial;
}

.slick-next slick-arrow
{
	position: absolute;
	border: none;
}

.relatedGoods {
	position: absolute;
	z-index: -1;
}

.select_btn{
	cursor: hand;
	z-index: 2;
	height: 200px;
	width: 200px;
}
 .All_cart_btn{
	height:50px;
	width:100px;
    border:solid 1px coral;
    text-align:center;
    font-size:14px;
    cursor:pointer;
    max-width:50%;
    background-color: white;
    border-radius:20px;
}
.All_cart_btn:hover{ 
	
	background-color: coral;
	color:white;
}
.All_cart_btn:hover>a{
	background-color: white;

}
.All_btn>.All_cart_btn{
	position: relative;
	top: 50px;
	right: -100x;
	z-index:2;	
}  

 .All_btn>.All_cart_btn{
	position: relative;
	top: 50px;
	right: -100x;
/* 	background-color:white; */
/* 	border:none; */
	z-index:2;	
} 
