.goods-add-product-title:before {
    width: 20px;
    height: 5px;
    background-color: #000;
    display: block;
    content: '';
}

.goods-add-product-title:before {
    width: 20px;
    height: 5px;
    background-color: #000;
    display: block;
    content: '';
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}