<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.final_proj.mapper.RecipeMapper">
	<!-- 레시피 전부 출력하기 -->
	<select id="getList" resultType="org.final_proj.domain.RecipeVO">
		<![CDATA[
			SELECT 	*
			FROM recipe
			WHERE rcp_seq > 0
			ORDER BY rcp_seq DESC	
		]]>
	</select>

	<!-- 레시피 전부를 페이징 처리해서 가져오기 -->
	<select id="getListWithPaging"
		resultType="org.final_proj.domain.RecipeVO">
		<![CDATA[
			SELECT rcp_seq, rcp_nm
			FROM 	(SELECT /*+INDEX_DESC(recipe SYS_C003956)*/
					ROWNUM subrn, rcp_seq, rcp_nm, rcp_way2, rcp_pat2, att_file_no_mk, rcp_parts_dtls, 
					manual01, manual_img01, manual02, manual_img02,
					manual03, manual_img03, manual04, manual_img04,
					manual05, manual_img05, manual06, manual_img06,
					manual07, manual_img07, manual08, manual_img08
					FROM recipe
					WHERE 
		]]>
	<![CDATA[ 
			ROWNUM <= #{pageNum} * #{amount})
			WHERE subrn > (#{pageNum} - 1) * #{amount}
		]]>

	</select>

	<!-- 레시피 상세보기 -->
	<select id="getDetail" resultType="org.final_proj.domain.RecipeVO">
		SELECT * FROM recipe
		WHERE rcp_seq = #{rcp_seq}
	</select>
	
	<insert id="insertRecipe">
		INSERT INTO recipe VALUES (#{rcp_seq}, #{rcp_nm}, #{rcp_way2}, #{rcp_pat2},
		#{att_file_no_mk}, #{rcp_parts_dtls},
		#{manual01}, #{manual_img01},
		#{manual02}, #{manual_img02},
		#{manual03}, #{manual_img03},
		#{manual04}, #{manual_img04},
		#{manual05}, #{manual_img05},
		#{manual06}, #{manual_img06},
		#{manual07}, #{manual_img07},
		#{manual08}, #{manual_img08})
	</insert>
	
	<sql id="search">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item='type'>
				<trim prefix="OR">
					<choose>
						<when test="type == 'I'.toString()" >
							rcp_part_dtls LIKE '%'||#{query}||'%'
						</when>
						<when test="type == 'N'.toString()">
							rcp_nm LIKE '%'||#{query}||'%'
						</when>
						<when test="type == 'K'.toString()">
							rcp_pat2 LIKE '%'||#{query}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
</mapper>